<ion-header>
    <ion-title>
        Quotes
    </ion-title>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size-lg="6" offset-lg="3">
                <form [formGroup]="loginForm" *ngIf="!loadingData">
                    <ion-item>
                        <ion-label position="ion-stacked">Mail:</ion-label>
                        <ion-input formControlName="mail" type="text">
                        </ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="ion-stacked">Password:</ion-label>
                        <ion-input formControlName="password" type="password">
                        </ion-input>
                    </ion-item>
                    <ion-row class="ion-signin">
                        <ion-col>
                            <ion-button (click)="onLogin()" color="primary" shape="full" expand="block"
                                        [disabled]="!loginForm.valid">Login
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </form>
                <ion-spinner name="bubbles" *ngIf="loadingData"></ion-spinner>
            </ion-col>
        </ion-row>
    </ion-grid>


</ion-content>
